<?js
var data = obj;
var self = this;
?>

<p>Dependencies are third-party libraries used in the BuddyBoss App, which you can also make use of in your custom development.</p>
<section>
    <article class="home_page">
        <?js if (data.dependencies) { ?>
        
            <table>
                <tr>
                    <th>
                       Package 
                    </th>
                    <th>
                       Version 
                    </th>
                </tr>
                <?js Object.keys(data.dependencies).forEach(function(key) { ?>
                    <tr>
                        <td><?js= key ?></td>
                        <td><?js= data.dependencies[key] ?></td>
                    </tr>
                <?js }); ?>
            </table>
            
        <?js } ?>
        
    </article>
</section>

