<?js
var data = obj;
var self = this;
?>

<?js if (data.readme) { ?>
<section>
    <article class="home_page">
        <p>
        This is codex. It consists of:
        </p>
        <p>
        Learn how to use these elements to update the BuddyBoss App in our developer tutorials.
        </p>
        <a href="https://www.buddyboss.com/resources/dev-docs/app-tutorials"
            class="view_button"
            target="_blank"
        >
            View Tutorials
        </a>
        <ul class="bbdocs-docs-list">
            <li class="bbdocs-docs-single">
                <div class="section-img">
                    <img src="img/Types.svg">
                </div>
                <div class="inside">
                    <h3>        
                        <span class="section_title">Type Definitions</span>
                    </h3>
                    <span class="section_content">
                    Type Definitions will give you better insight in type of data Hooks use. What data you need to pass and what you need to return from hook.
                    </span>
                    <a href="#" class="section_more">View Type Definitions</a>
                </div>
                
            </li>
            <li class="bbdocs-docs-single components">
                <div class="section-img">
                    <img src="img/Components.svg">
                </div>
                <div class="inside">
                    <h3>
                        <span class="section_title">Global CSS Styles</span>
                    </h3>
                    <span class="section_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque sapien id condimentum feugiat.
                    </span>
                    <a href="styles.html" class="section_more">View Global CSS Styles</a>
                </div>
                
            </li>
            <li class="bbdocs-docs-single">
                <div class="section-img">
                    <img src="img/Components.svg">
                </div>
                <div class="inside">
                    <h3>
                        <span class="section_title">Dependecies</span>
                    </h3>
                    <span class="section_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque sapien id condimentum feugiat.
                    </span>
                    <a href="dependencies.html" class="section_more">View Dependecies</a>
                </div>
                
            </li>
            <li class="bbdocs-docs-single">
                <div class="section-img">
                    <img src="img/Hooks.svg">
                </div>
                <div class="inside">
                    <h3>
                        <span class="section_title">Hooks API</span>
                    </h3>
                    <span class="section_content">
                    Hooks API is used for changing core app code from custom code, by calling methods of already instantiated classes. All classes and their methods are documented on “Classes” part.
                    </span>
                    <span class="section_more">Browse and search available hooks in the sidebar.</span>
                </div>
                
            </li>
        </ul>
    </article>
</section>
<?js } ?>

