<?js
var data = obj;
var self = this;
?>

<?js if (data.readme) { ?>
<section>
    <article class="home_page">
        <p>
        Welcome to the <strong>BuddyBoss App Codex</strong>, an online manual for BuddyBoss App and a growing repository of information to support your custom development.
        </p>
        <p>
        If you have purchased <a target="_blank" href="https://www.buddyboss.com/app/#devaccess">developer access</a> for the BuddyBoss App, you can use this codex to customize and extend the look and functionality of your app with your own React Native code.
        </p>
        <!--
        <p>
        For more information on how to write and deploy code for your app, review our <a target="_blank" href="https://www.buddyboss.com/resources/dev-docs/app-tutorials" target="_blank">app development tutorials</a>.
        </p>
        -->
        <ul class="bbdocs-docs-list">
            <li class="bbdocs-docs-single">
                <div class="section-img">
                    <img src="images/Types.svg">
                </div>
                <div class="inside">
                    <h3>        
                        <span class="section_title">Type Definitions</span>
                    </h3>
                    <span class="section_content">
                    Type Definitions reveal insight into the type data used by hooks, including which data you need to pass to and from each hook.
                    </span>
                    <a href="global.html" class="section_more">View Type Definitions</a>
                </div>
                
            </li>
            <li class="bbdocs-docs-single global">
                <div class="section-img">
                    <img src="images/global-css.svg">
                </div>
                <div class="inside">
                    <h3>
                        <span class="section_title">Global CSS Styles</span>
                    </h3>
                    <span class="section_content">
                    Global CSS Styles are styles used throughout the app across the app's screens and components. You can overwrite any one of these styles in your code to change the look of the app.
                    </span>
                    <a href="styles.html" class="section_more">View Global CSS Styles</a>
                </div>
                
            </li>
            <li class="bbdocs-docs-single">
                <div class="section-img">
                    <img src="images/Dependencies.svg">
                </div>
                <div class="inside">
                    <h3>
                        <span class="section_title">Dependecies</span>
                    </h3>
                    <span class="section_content">
                    Dependencies are third-party libraries used in the BuddyBoss App, which you can also make use of in your custom development.
                    </span>
                    <a href="dependencies.html" class="section_more">View Dependecies</a>
                </div>
                
            </li>
            <li class="bbdocs-docs-single">
                <div class="section-img">
                    <img src="images/Classes.svg">
                </div>
                <div class="inside">
                    <h3>
                        <span class="section_title">Hooks API</span>
                    </h3>
                    <span class="section_content">
                    The Hooks API allows you to “hook” into and replace the output of core app code with your own by calling methods of already instantiated classes.
                    </span>
                    <span class="section_more">Browse and search available hooks in the sidebar.</span>
                </div>
                
            </li>
        </ul>
    </article>
</section>
<?js } ?>

