<?js
var data = obj;
var self = this;
?>

<p class="global-styles-desc">Global CSS Styles are styles used throughout the app across the app's screens and components. You can overwrite anyone of these styles in your code to change the look of the app.</p>
<section>
    <article class="home_page global-styles">
        <?js= self.partial('source.tmpl', data) ?>
        
    </article>
</section>

