@font-face{
    font-family:sofia pro soft;
    src:url(../fonts/SofiaProSoftRegular.woff) format("woff"),url(../fonts/SofiaProSoftRegular.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
/* @font-face{
    font-family:sofia pro soft;
    src:url(../fonts/SofiaProSoftRegular-Italic.woff) format("woff"),url(../fonts/SofiaProSoftRegular-Italic.ttf) format("truetype");
    font-weight:400;
    font-style:italic
} */
@font-face{
    font-family:sofia pro soft;
    src:url(../fonts/SofiaProSoftMedium.woff) format("woff"),url(../fonts/SofiaProSoftMedium.ttf) format("truetype");
    font-weight:500;
    font-style:normal
}
/* @font-face{
    font-family:sofia pro soft;
    src:url(../fonts/SofiaProSoftLight-Italic.woff) format("woff"),url(../fonts/SofiaProSoftLight-Italic.ttf) format("truetype");
    font-weight:300;
    font-style:italic
} */
@font-face{
    font-family:sofia pro soft;
    src:url(../fonts/SofiaProSoftLight.woff) format("woff"),url(../fonts/SofiaProSoftLight.ttf) format("truetype");
    font-weight:300;
    font-style:normal
}
/* @font-face{
    font-family:sofia pro soft;
    src:url(../fonts/SofiaProSoftBold.woff) format("woff"),url(../fonts/SofiaProSoftBold.ttf) format("truetype");
    font-weight:700;
    font-style:normal
} */

@font-face {
font-family: 'SF UI Text Regular';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIText-Regular.woff) format("woff"),url(../fonts/SFUIText-Regular.ttf) format("truetype");
}


@font-face {
font-family: 'SF UI Text Italic';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIText-RegularItalic.woff) format("woff"),url(../fonts/SFUIText-RegularItalic.ttf) format("truetype");
}


@font-face {
font-family: 'SF UI Text Light';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIText-Light.woff) format("woff"),url(../fonts/SFUIText-Light.ttf) format("truetype");
}


@font-face {
font-family: 'SF UI Text Light Italic';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIText-LightItalic.woff) format("woff"),url(../fonts/SFUIText-LightItalic.ttf) format("truetype");
}


@font-face {
font-family: 'SF UI Text Medium';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIText-Medium.woff) format("woff"),url(../fonts/SFUIText-Medium.ttf) format("truetype");
}


@font-face {
font-family: 'SF UI Text Semibold';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIText-Semibold.woff) format("woff"),url(../fonts/SFUIText-Semibold.ttf) format("truetype");
}

@font-face {
font-family: 'SF UI Display Regular';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIDisplay-Regular.woff) format("woff"),url(../fonts/SFUIDisplay-Regular.ttf) format("truetype");
}


@font-face {
font-family: 'SF UI Display Medium';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIDisplay-Medium.woff) format("woff"),url(../fonts/SFUIDisplay-Medium.ttf) format("truetype");
}


@font-face {
font-family: 'SF UI Display Bold';
font-style: normal;
font-weight: normal;
src:url(../fonts/SFUIDisplay-Bold.woff) format("woff"),url(../fonts/SFUIDisplay-Bold.ttf) format("truetype");
}

body,
p {
    font-family: sofia pro soft;
    font-family: 'SF UI Text Regular', sans-serif;
}

h1,h2,h3,h4,
.content h1, 
.content h3, .content h4, .content h5, .content h6,
.content header.page-title h1 {
    font-family: 'SF UI Display Bold', sans-serif;
}

body.bb-resources {
    background-color: #f9f9f9;
    font-family: 'SF UI Text', sans-serif;
}

.logo img {
    max-height: 45px;
    width: auto;
}

.top-nav {
    padding-top: 12px;
    box-shadow: 0 1px 0 0 rgb(139 141 157 / 5%), 0 5px 10px 0 rgb(65 71 108 / 15%);
}

.top-nav .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-nav .menu .navigation .link {
    font-size: 15px;
}

#main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

#main #main-content-wrapper {
    background-color: #fff;
}

#main > .core > .content {
    box-shadow: none;
    padding: 0;
}

#main-content-wrapper .content h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 14px;
    margin: 0 0 20px 0;
    padding: 0;
}

#main-content-wrapper .content h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

#main>.sidebar {
    padding-right: 0;
}

#sidebarNav ul,
#side-nav ul {
    padding: 0;
}

#sidebarNav ul li a,
#side-nav ul li a {
    display: block;
    margin: 0;
    line-height: 1.2;
    padding: 10px 15px;
    color: #808080;
    font-weight: 400;
    font-size: 12px;
    transition: all ease 0.2s;
}

#sidebarNav ul li a:hover,
#side-nav ul li a:hover {
    color: #333;
    background-color: #EFF0F1;
}

#sidebarNav ul li,
#side-nav ul li {
    padding: 0;
}

#sidebarNav h3,
#side-nav h3 {
    text-transform: none;
    font-weight: 500;
    font-size: 17px;
    color: #4D5C6D;
    margin: 0;
    padding: 10px 15px;
    font-family: 'SF UI Display Medium', sans-serif;
}

#sidebarNav h3 a,
#side-nav h3 a {
    color: #4D5C6D;
}

#sidebarNav h2 a,
#side-nav > a {
    display: block;
    margin: 0;
    line-height: 1.2;
    padding: 10px 15px;
    color: #808080;
    font-weight: 400;
    font-size: 12px;
    font-family: 'SF UI Text', sans-serif;
    transition: all ease 0.2s;
}

#sidebarNav h2 a:hover,
#side-nav > a:hover {
    color: #333;
    background-color: #EFF0F1;
}

#sidebarNav a:hover, 
#sidebarNav a.active {
    color: #df613c;
}

#side-nav a:hover, 
#side-nav a.is-active {
    color: #df613c;
}

.member > .description p {
    font-size: 16px;
}

.tag-source > div {
    padding-left: 0;
    padding-right: 0;
}

.tag-source .source-button {
    margin: 0 0 10px;
}

.member:not(:last-child):after {
    margin-left: 0;
    margin-right: 0;
}

.member > .name .code-name {
    font-size: 20px;
    font-family: inherit;
}

.prettyprint {
    background-color: #292b36;
    border-radius: 3px;
    color: #fff;
}

.prettyprint code {
    font-family: Monaco, "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.prettyprint code,
.prettyprint code .pln {
    color: #fff;
}

.button {
    color: #df613c;
    border-color: #df613c;
}

.details dt {
    border-left: 3px solid #df613c;
    padding-left: 10px;
    font-size: inherit;
}

.content header p {
    font-size: 17px;
}

.content table thead td, 
.content table thead th {
    border-bottom-width: 1px;
}

table.params tr, 
table.props tr,
.content table td, 
.content table th {
    border-color: #e0e0e0;
}

table.params td, 
table.props td,
table.params thead th, 
table.props thead th {
    padding: 10px 15px;
    font-size: 14px;
}

table.params td.name code, 
table.props td.name code {
    font-size: 14px;
}

.content a {
    color: #df613c;
}

.content a:hover {
    color: #4d5c6d;
}

.method-parameter {
    font-size: inherit;
}

@media screen and (max-width: 768px) {
    #main > .core {
        padding: 28px;
    }
}

.home_page p {
    color: #4d5c6d; 
    font-size: 15px;
    line-height: 1.4; 
    margin-bottom: 20px;
}

ul.bbdocs-docs-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

li.bbdocs-docs-single {
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #e7e9ec;
    border-radius: 4px;
    background: #fff;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}

li.bbdocs-docs-single a {
    color: #df613c;
}

li.bbdocs-docs-single img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

li.bbdocs-docs-single h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 35px 30px 0;
    margin: 0;
    /* line-height: 1.4; */
    /* display: flex;
    align-content: center;
    min-height: 68px;
    position: relative; */
    color: #df613c;
}

.dark_icon {
    margin-right: 10px;
}

li.bbdocs-docs-single .inside {
    padding: 30px;
    min-height: 180px;
    color: #4d5c6d;
    background-repeat: no-repeat;
    background-position: calc(100%) calc(100% + 50px);
}

a.view_button {
    background-color: #df613c;
    line-height: 20px;
    color: #fff;
    box-shadow: 0 -2px 0 0 #b03510 inset;
    letter-spacing: -.24px;
    font-weight: 400;
    transition: .5s;
    font-family: sofia pro soft,helvetica neue,Helvetica,Arial,sans-serif;
    border-radius: 3px;

    padding: 11px 34px 10px;
    letter-spacing: -.24px;
    font-weight: 200;
    font-size: 16px;
    display: inline-block;
    min-width: 160px;
}

a.view_button:hover {
    background-color: #b03510;
    color: #fff;
}